<% provide(:head_title, category) %>
<%= javascript_include_tag 'ebooks', 'data-turbolinks-track': 'reload' %>
<div class="panel panel-default">
  <div class="dropdown panel-heading form-inline">
  <span class="navbar-brand category-nav-text">Categoria: </span>
  <button class="btn btn-default dropdown-toggle background-green" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= category %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu fix-toggle-error" aria-labelledby="dropdownMenu1">
    <li> <%= link_to "Todos", root_url %> </li>
    <% all_tags.each do |t| %>
      <li><a href='<%= "#{root_url}?c=#{t.name}" %>'><%= t.name.capitalize %></a></li>
    <% end %>
  </ul>
</div>
  <div class="panel-body">
      <div id="ebooks_container" class="row">
        <%= render @ebooks %>
      </div>
      <%= paginate @ebooks %>
  </div>
</div>
