<% provide(:head_title, 'Carrinho') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header center-text">
        <h1>Seu carrinho de compras</h1>
      </div>
      <% if cart_not_empty? %>
      <table class="table table-cart">
        <thead>
          <th></th>
          <th>Titulo</th>
          <th>Preço</th>
          <th></th>
        </thead>
        <tbody>
          <% @ebooks_in_cart.each do |e| %>
          <tr>
            <td class="cart-img-cell"><div class="img-cart-cover">
              <a href="<%="/ebooks/#{e.id}"%>">
                <img src='<%=e.cover.url%>' class="img-responsive" alt="Capa">
              </a>
            </div></td>
            <td>
              <a href="<%="/ebooks/#{e.id}"%>">
                <%=e.title%></td>
              </a>
            <td class="cart-price-size"><%= number_to_currency_br e.price %></td>
            <td class="cart-button-cel">
              <form action="<%=cart_url%>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="ebook_id" value="<%=e.id%>">
                <%= token_tag %>
                <button type="submit" name="button" class="btn btn-danger">Remover
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></button>
              </form>
            </td>
          </tr>
          <% end %>
          <tfoot>
            <td>Total:</td>
            <td></td>
            <td><%= number_to_currency_br @cart_total %></td>
            <td></td>
          </tfoot>
        </tbody>
      </table>
      <% else %>
        <p class="center-text empty-cart">Carrinho vazio</p>
        <p class="center-text"><a class="btn btn-default background-green" href="<%=root_url%>">Continuar comprando</a></p>
      <% end %>
      <% if cart_not_empty? %>
      <div class="pull-right">
        <p><a href="<%=order_checkout_url%>" class="btn btn-default background-green">Prosseguir com pagamento</a></p>
        <p>...ou <a href="<%=root_url%>">continuar comprando</a> </p>
      </div>
      <% end %>
    </div>
  </div><!-- end .row -->
</div><!-- end .container-fluid -->
