<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :first_name, required: true, autofocus: true, label: "Nome" %>
    <%= f.input :surname, required: true, label: "Sobrenome"%>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, autocomplete: "off", hint: "deixe em branco se não quer mudar a senha", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "é necessário a senha atual para alterar seus dados", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>

<%= link_to "Voltar", :back %>
