<% provide(:head_title, "Registrar-se") %>
<% provide(:title, "Registrar-se") %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= f.error_notification %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true, label: "Nome" %>
    <%= f.input :surname, required: true, label: "Sobrenome"%>
    <%= f.input :email, required: true%>
    <%= f.input :password, required: true, hint: (" minimo de #{@minimum_password_length} caracteres" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
