<h1>Seus ebooks estão prontos para baixar</h1>

<% @order.ebooks.each do |e| %>
  <p><%=e.title%> - <%=link_to "PDF", download_url(id: e.id, type: "pdf") %>
                  - <%=link_to "EPUB", download_url(id: e.id, type: "epub") %></p>
<% end %>

<p>Baixe todos os seus ebooks em <%= link_to "meus ebooks", orders_url %></p>
