<% provide(:head_title, 'Checkout') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header center-text">
        <% if @removed.count > 0 %>
        <h1>Você já possui estes ebooks, eles serão removidos do carrinho:</h1>
      </div>
          <% @removed.each do |r| %>
          <p class="alert alert-danger"><%=r.title%></p>
          <% end %>
          <div class="pull-right">
            <p><a href="<%=order_checkout_url%>" class="btn btn-default background-green">Prosseguir</a></p>
          </div>
        <% else %>
        <h1>Seu pedido</h1>
      </div>

      <table class="table table-cart">
        <thead>
          <th>Titulo</th>
          <th>Preço</th>
        </thead>
        <tbody>
          <% @ebooks.each do |e| %>
          <tr>
            <td>
              <a href="<%="/ebooks/#{e.id}"%>">
                <%=e.title%></td>
              </a>
            <td class="cart-price-size"><%= number_to_currency_br e.price %></td>
          </tr>
          <% end %>
          <tfoot>
            <td>Total:</td>
            <td><%= number_to_currency_br @cart_total %></td>
          </tfoot>
        </tbody>
      </table>
      <div class="pull-right">
        <p><a href="<%=order_create_url%>" class="btn btn-default background-green">Pagar com PagSeguro</a></p>
        <p>...ou <a href="<%=root_url%>">continuar comprando</a> </p>
      </div>
      <% end %>
    </div>
  </div><!-- end .row -->
</div><!-- end .container-fluid -->
