<% provide(:head_title, "Esqueci senha") %>
<% provide(:title, "Esqueci senha") %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions horizontal-centering">
    <%= f.button :submit, "Envie-me instruções" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
