<table class="table order-table <%= 'unpaid-orders' if !order.paid? %>">
  <thead>
    <th></th>
    <th>Data do pedido: <%=order.created_at.strftime("%d/%m/%Y")%></th>
  </thead>
  <tbody>
    <% order.ebooks.each do |e| %>
      <tr>
        <td><%= e.title %></td>
        <td>
          <% if order.paid? %>
          Download:
          <a href="/download/<%=e.id%>?type=epub">epub</a>
          <a href="/download/<%=e.id%>?type=pdf">pdf</a>
          <% else %>
          Aguardando pagamento
          <% end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
