<% provide(:head_title, "Login") %>
<% provide(:title, "Efetuar Login") %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :email, required: false, autofocus: true %>
  <%= f.input :password, required: false %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
</div>

<div class="form-actions">
  <%= f.button :submit, "Entrar" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
