<% provide(:head_title, 'Carrinho') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header center-text">
        <h1>Compras & Ebooks</h1>
      </div>

      <% @orders.each do |u| %>
      <div id="order-<%=u.id%>">
        <%= render u %>
      </div>
      <% end %>

    </div>
  </div><!-- end .row -->
</div><!-- end .container-fluid -->

  <%= action_cable_meta_tag %>
  <%= javascript_include_tag 'channels/orders' %>
