/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /*************************************************************
 * HTML and body style
 **************************************************************/
 html, body {
     height: 100%;
     margin: 0;
     border: 0;
     padding: 0;
     background: #fff;
 }

 body {
     font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 13px;
     color: #3e4855;
     background-color: #fff;
     line-height: 1.42857143;
 }

 /*************************************************************
 * Vertical and horizontal align
 **************************************************************/



 .vertical-centering {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
 }

 .horizontal-centering {
   width: 350px;
   margin: auto;
 }
