// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $green: rgb(55, 186, 148);
$green: rgb(56, 183, 65);
$more_green: rgb(16, 120, 16);

.down-60-px {
  padding-top: 60px;
}

.background-green {
  background: $green;
  color: white;
}

.background-green:hover {
  background: $more_green;
  color: white;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

html body {
  min-height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.thumbnail {
  width: 250px;
  overflow: auto;
}

.no-hide {
  overflow: visible;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  h3 {
    text-align: center;
    border-top: 1px solid #bbb;
    //border-bottom: 1px solid #bbb;
    border-radius: 20px;
  }
  h4 {
    text-align: center;
  }
}

.category-nav-text {
  float: left;
  padding: 6px;
  padding-right: 15px;
}

.fix-toggle-error {
  margin-left: 118px;
  margin-top: -9px;
  ul li a:hover {
    background-color: $green;
  }
}

.price {
  font-size: 1.5em;
  padding-right: 14px;
  // text-align: center;
}
.ebook-page-price {
  border-radius: 7px;
  padding: 6px 12px;
  margin-top: 3px;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  &:hover {
    font-size: 3.5em;
  }
}

#infscr-loading {
  text-align: center;
  display: block;
}

.ebook-cover, .ebook-description {
  min-width: 300px;
  width: 45%;
  display: inline-block;
}

.block-cart-price, .center-text {
  text-align: center;
}

// cart page

table.table-cart tfoot, table.table-cart thead {
  font-weight: bold;
  font-size: 1.3em;
}

.cart-img-cell, .cart-button-cel, .cart-price-size {
  width: 110px;
}

.img-cart-cover {
  width: 90px;
  height: 140px;
}

.empty-cart {
  font-size: 2em;
}


.btn-cart {
  margin-left: 80px;
}

.thumbnail {
  margin-left: auto;
  margin-right: auto;
}

body {
  min-width: 300px;
}