.order-table {
  margin-top: 15px;
  border-radius: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 10px 10px 15px #888;

  thead th {
    text-align: right;
  }

  tbody td {
    width: 49%;
  }

  &.unpaid-orders {
    tbody tr td:nth-child(2) {
      color: red;
    }
  }

  a {
    text-align: center;
    display: inline-block;
    width: 40px;
    text-transform: uppercase;
  }
}
