<div class="no-hide ebook">
  <h3><%= ebook.title.slice(0, 20) %></h3>
  <h4><%= ebook.author %></h4>
  <div class="thumbnail">
    <img src="<%= ebook.cover.url %>" alt="...">
    <div class="caption">
      <p>
        <%= sanitize(ebook.summary, :tags => []).truncate(49) %>
        <a href='<%= "/ebooks/#{ebook.id}" %>' role="button">mais</a>
      </p>
      <p class="price center-text"><%= number_to_currency_br ebook.price %></p>
      <p>
        <form action="<%=cart_url%>" method="post" class="center-text">
          <%= token_tag %>
          <input type="hidden" name="ebook_id" value="<%=ebook.id%>">
          <button type="submit" class="btn btn-default background-green">Pôr no carrinho
            <span class="glyphicon glyphicon-shopping-cart"  aria-hidden="true"></span>
          </button>
        </form>
      </p>
    </div>
  </div>
</div>
