<% provide(:head_title, @ebook.title) %>
<div class="page-header">
  <h1><%= @ebook.title %> <small> <%= @ebook.author %> </small>
    <small class="pull-right">Ano: <%= @ebook.year %></small></h1>
</div>

<div class="ebook-body media">
  <div class="media-left">
    <%= image_tag @ebook.cover, alt: "capa", class: "ebook-cover media-object" %>
  </div>
  <div class="media-body">
    <div class="block-cart-price">
      <p class="ebook-page-price"><%= number_to_currency_br @ebook.price %></p>
      <form action="<%=cart_url%>" method="post" class="center-text">
        <%= token_tag %>
        <input type="hidden" name="ebook_id" value="<%=@ebook.id%>">
        <button type="submit" class="btn btn-default background-green">Pôr no carrinho
          <span class="glyphicon glyphicon-shopping-cart"  aria-hidden="true"></span>
        </button>
      </form>
        <p><strong>Gêneros: </strong><%= category_links.html_safe %></p>
    </div>
      <br />
      <br />
    <%= @ebook.summary.html_safe %>
  </div>
</div>
