<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:head_title) + " Conta") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>
    <div class="container horizontal-centering vertical-centering">
      <div>
         <h3 class="text-center gray-text2"><%= yield :title %></h3>
         <p class="gray-text2"><%= yield :sub_title %></p>
       </div>
      <%= yield %>
    </div>
  </body>
</html>
